<div class="test_box font_test"  >
  <div class='container'>
    <h6><%= t('helpers.link.do_detail')  %></h6> 
      <div class="p-3 mb-2 bg-light text-dark">
      <div class =row>
        <div class="col-2">伝票番号 :</div>
        <b><div class="col-2"><%= @task.id%></div></b>
      </div>
      </div><!--p-3 mb-2 bg-light text-dark-->
      
    <div class="p-3 mb-2 bg-light text-dark">
      <div class =row>
        <div class="col-2">出動区分 : </div>
          <% if @task.dispatch =="平日" %>
            <div class="col-2"><i class= "fa fa-circle notification-circle" style="color: blue;"><%= @task.dispatch %></i></div>
          <% elsif @task.dispatch == "夜間" %> 
            <div class="col-2"><i class= "fa fa-circle notification-circle" style="color: orange;"><%= @task.dispatch %></i></div>
          <% elsif @task.dispatch == "緊急" %> 
            <div class="col-2"><i class= "fa-light fa fa-star" style="color: red;"><%= @task.dispatch %></i></div>
          <% elsif  @task.dispatch == "夜間緊急" %> 
            <div class="col-2"><i class= "fa-solid fa fa-star" style="color: red;"><%= @task.dispatch %></i></div>
          <% else%> 
            <div class="col-2"><i class= "fa fa-circle notification-circle" style="color: green;"><%= @task.dispatch %></i></div>
          <% end %>  
        </div>
        
      <div class =row>
        <div class="col-2">作業名 : </div>
        <div class="col-10"> <%= @task.name %></div>
      </div>
      <div class =row>
        <div class="col-2"> 対応日 : </div>
        <div class="col-2"><%=@task.support_at.strftime("%Y年%m月%d日").to_s %></div>
      </div>
      <div class =row>
        <div class="col-2"> 作業開始時間 : </div>
        <div class="col-2"><%=@task.start_time.strftime("%H時%M分").to_s %></div>
      </div>
      <div class =row>
        <div class="col-2"> 出動内容 : </div>
        <div class="col-5"><%=@task.category %></div>
      </div>
      <div class =row>
        <div class="col-2"> 作業予定日 : </div>
        <div class="col-2"><%=@task.support_at.strftime("%Y/%m/%d") %></div>
      </div>
    </div><!--"p-3 mb-2 bg-light text-dark"-->
   
  <% @task.properties.each do |property| %>
  <h6><%= t('helpers.link.property_fetch') %></h6>
  <div class="p-3 mb-2 bg-light text-dark">
    <div class =row>
      <div class="col-2">物件名 : </div>
      <div class="col-10"> <%= property.name %></div>
    </div>
    <div class =row>
      <div class="col-2">郵便番号 : </div>
      <div class="col-2"><%= property.zip %></div>
    </div>
    <div class =row>
      <div class="col-2">市町村 : </div>
      <div class="col-10"> <%= property.city %></div>
    </div>
    <div class =row>
      <div class="col-2">住所 : </div>
      <div class="col-10"> <%= property.address %></div>
    </div>
  </div>
  <% end %>

  <% @task.agents.each do |agent| %>
    <h6><%= t('helpers.link.agent_fetch') %></h6>
    <div class="p-3 mb-2 bg-light text-dark">
      <div class =row>
        <div class="col-2">管理会社名 : </div>
        <div class="col-10"> <%= agent.name %></div>
      </div>
      <div class =row>
        <div class="col-2">郵便番号　: </div>
        <div class="col-2"><%= agent.zip %></div>
      </div>
      <div class =row>
        <div class="col-2">市町村 : </div>
        <div class="col-10"> <%= agent.city %></div>
      </div>
      <div class =row>
        <div class="col-2">住所 : </div>
        <div class="col-10"><%=agent.address %></div>
      </div>
    </div>
  <% end %>
    </div>
      </div>
   