<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src = "/calender.png" width="30" height="30" class="d-inline-block align-top" alt="">
     <%= "スケジュール管理" %>
  </a>
</nav>

<div class= 'calender'>
<div class="test_box font_test">
  <%= link_to '月間カレンダー', "/tasks/search", method: :get, class: 'btn btn-outline-primary btn-sm' %>
    <%= week_calendar(attribute: :support_at) do |date|  %>
      <%= date %>
      <% @events.each do |event| %>
      <br>
      <% if user_signed_in? && ((event.support_at).month == date.month) && ((event.support_at).day == date.day)%>
        <% if event.dispatch =="平日"%>
          <i class="fa fa-circle notification-circle" style="color: blue;"></i>
        <% elsif event.dispatch == "夜間"%> 
          <i class="fa fa-circle notification-circle" style="color: orange;"></i>
        <% elsif event.dispatch =="緊急"%> 
          <i class="fa-light fa fa-star" style="color: red;"></i>
        <% elsif event.dispatch =="夜間緊急"%> 
          <i class="fa-solid fa fa-star" style="color: red;"></i>
        <% else%> 
          <i class="fa fa-circle notification-circle" style="color: green;"></i>
        <% end %>        
            <%= event.support_at.strftime('%H:%M') %>
          <%= event.vehicle %>
          <%= link_to event.name,task_path(event) %>
      <% end %>  
    <% end %>
  <% end %>
</div>
</div>