
<html>
  <head>
  </head>
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
      .wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 110px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
    background-color:rgb(220, 235, 234)
}

  </style>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-7 mb-6 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-6 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
           We are more than just a company <br />
          <span style="color: hsl(218, 81%, 75%)">Our mission</span>
        </h1>
    
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            お客様への喜びを私たちの喜びへ<br>
            暮らしを支え、社会を豊かにする為に<br>
            迅速かつ高品質なサービスの提供を行い<br>
            社会への貢献を高めていくことを誓ます。</p>
      </div>

      <div class="col-lg-5 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
        <div id="radius-shape-3" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control form-control-sm'%>
              </div>
              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control form-control-sm' %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
              <div class="actions">
               <%= f.submit "ログイン", class: 'btn btn-primary'%>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>
              </div>
            <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
            <%= link_to '管理者ゲストログイン', users_admin_guest_sign_in_path, method: :post %>
        
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</section>
<!-- Section: Design Block -->
