<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="https://kit.fontawesome.com/46e2e5606e.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content=<%= ENV['GOOGLE_APP_ID']%>>
  </head>
  
  <body>
    <nav class="navbar navbar-light mb-2" style="background-color:#3d729c;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand ml-auto" href="#"><img src="/leaf.png" width="30" height="30" class="d-inline-block align-top" alt=""><%= link_to "Kiyora", tasks_path %></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <% if user_signed_in? %>
      <li class="nav-item active">
        <a class="nav-link active" href="#"><%= link_to t('.overview'), tasks_path %></span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to t('.create'), new_task_path %></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to t('.connect'), users_path %></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#"><%= link_to t('.claims'), claims_path, class:link_to %></a>
      </li>
        <% if current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link" href="#"><%= link_to t('.admin'), rails_admin_path, class:link_to %></a>
          </li>
        <% end %>
      <li class="nav-item">
        <a class="nav-link" href="#"><%= link_to t('.logout'), "/users/sign_out", method: :delete %></a>
      </li>
    <% else %>
      <li class="nav-item active">
        <a class="nav-link active" href="#"><%= link_to t('.new'), new_user_registration_path %></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link active" href="#"><%= link_to t('.login'), new_user_session_path %></span></a>
      </li>
      </ul>
    <% end %>
    </ul><!--navbar-nav me-auto-->
    </div><!--collapse navbar-collapse"-->
    </nav><!--navbar navbar-light-->

  <div class="wrapper">
    <!--<div class="container-fluid">-->
      <div class="test_box font_test" > 
      <%= yield %>
   <!-- </div>container-fluid-->
  </div><!--wrapper--> 
  </div><!--test_box font_test-->

    <footer>
      <div class="footer-menu">
        <p class="copyright">
        &copy; Copyright @ 2022 ALL RIGHTS RESERVED.
        <a href='https://jp.freepik.com/vectors/background'></a>
        </p>
      </div>
    </footer>
  </body>
</html>
   
